<section class="w-full">
  <div class="container p-6 rounded-lg border border-gray-200">
    <div class="flex flex-row justify-between">
      <h1>推薦職缺</h1>
      <a class="hyperlink" href="<%= jobs_url %>">更多職缺</a>
    </div>
    <div class="grid grid-cols-5 gap-4 mt-4">
      <% @featured_jobs.each do |job| %>
        <%= render "jobs/card", job:job %>
      <% end %>
    </div>
  </div>
</section>
