<section class="w-full h-full">
  <h1>公司列表</h1>
  <div class="flex flex-col gap-4 mt-4">
    <% @companies.each do |company| %>
      <%= render "companies/card", company: company %>
    <% end %>
  </div>
</section>
